#**Midterm project**

##**Describe the problem and how ML can help**
The **Adult (Census Income)** dataset from the UCI Machine Learning Repository contains demographic and employment data from the 1994 U.S. Census.
The goal is to predict whether a person earns more than `$50,000` per year based on features such as age, education, occupation, hours worked per week, and others.

This is a binary classification problem (`≤50K` vs.` >50K`).

Machine learning can help by:
- Automatically learning relationships between demographic factors and income level.
- Identifying key predictors of high income (e.g., education, occupation, work hours).
- Supporting data-driven decision making for social, economic, or marketing analyses.


Common algorithms used include **Logistic Regression**, **Decision Trees**, **Random Forests** and **XGBoost**.

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import xgboost as xgb
import zipfile

from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.feature_extraction import DictVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from sklearn.base import clone
from matplotlib import pyplot as plt
%matplotlib inline

##**Load dataset**

In [20]:
!wget -O adult.csv https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2025-11-08 12:52:46--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘adult.csv’

adult.csv               [    <=>             ]   3.79M  3.48MB/s    in 1.1s

2025-11-08 12:52:48 (3.48 MB/s) - ‘adult.csv’ saved [3974305]

In [21]:
columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
    'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
    'hours-per-week', 'native-country', 'income'
]

df = pd.read_csv('adult.csv', header=None, names=columns, sep=',', engine='python')

##**EDA**

In [22]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [23]:
pd.DataFrame({
    'dtype': df.dtypes,
    'missing_count': df.isnull().sum(),
    'missing_%': (df.isnull().sum() / len(df) * 100).round(2)
})

                 dtype  missing_count  missing_%
age              int64              0        0.0
workclass       object              0        0.0
fnlwgt           int64              0        0.0
education       object              0        0.0
education-num    int64              0        0.0
marital-status  object              0        0.0
occupation      object              0        0.0
relationship    object              0        0.0
race            object              0        0.0
sex             object              0        0.0
capital-gain     int64              0        0.0
capital-loss     int64              0        0.0
hours-per-week   int64              0        0.0
native-country  object              0        0.0
income          object              0        0.0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [25]:
df.describe(include='all', percentiles=[.01,.05,.25,.5,.75,.95,.99]).T

,count,unique,top,freq,mean,std,min,1%,5%,25%,50%,75%,95%,99%,max
age,32561.0,NaN,NaN,NaN,38.581647,13.640433,17.0,17.0,19.0,28.0,37.0,48.0,63.0,74.0,90.0
workclass,32561,9,Private,22696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fnlwgt,32561.0,NaN,NaN,NaN,189778.366512,105549.977697,12285.0,27185.8,39460.0,117827.0,178356.0,237051.0,379682.0,510072.0,1484705.0
education,32561,16,HS-grad,10501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education-num,32561.0,NaN,NaN,NaN,10.080679,2.57272,1.0,3.0,5.0,9.0,10.0,12.0,14.0,16.0,16.0
marital-status,32561,7,Married-civ-spouse,14976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occupation,32561,15,Prof-specialty,4140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
relationship,32561,6,Husband,13193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race,32561,5,White,27816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,32561,2,Male,21790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
capital-gain,32561.0,NaN,NaN,NaN,1077.648844,7385.292085,0.0,0.0,0.0,0.0,0.0,0.0,5013.0,15024.0,99999.0
capital-loss,32561.0,NaN,NaN,NaN,87.30383,402.960219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980.0,4356.0
hours-per-week,32561.0,NaN,NaN,NaN,40.437456,12.347429,1.0,8.0,18.0,40.0,40.0,45.0,60.0,80.0,99.0
native-country,32561,42,United-States,29170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income,32561,2,<=50K,24720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##**Preparing the dataset**

In [26]:
# Created target variable with two classes
# 0 = less than 50K and 1 = more than 50K
df['income'] = df['income'].str.strip()
df['target'] = (df['income'] == '>50K').astype(int)
df = df.drop(['income'], axis=1)

In [27]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [28]:
len(df_train), len(df_val), len(df_test)

(19536, 6512, 6513)

In [29]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [30]:
y_train = df_train.target.values
y_val = df_val.target.values
y_test = df_test.target.values

del df_train['target']
del df_val['target']
del df_test['target']

In [31]:
dv = DictVectorizer(sparse=False)

train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

val_test = df_test.to_dict(orient='records')
X_test = dv.transform(val_test)

In [32]:
features = list(dv.get_feature_names_out())
dtrain = xgb.DMatrix(X_train, label=y_train, feature_names=features)
dval = xgb.DMatrix(X_val, label=y_val, feature_names=features)
watchlist = [(dtrain, 'train'), (dval, 'val')]

In [33]:
def run(eta):
    params = {
        'eta': eta,
        'max_depth': 6,
        'min_child_weight': 1,
        'objective': 'reg:squarederror',
        'nthread': 8,
        'seed': 1,
        'verbosity': 1,
        'eval_metric': 'rmse',
    }
    model = xgb.train(
        params,
        dtrain,
        num_boost_round=100,
        evals=watchlist
    )
    y_pred = model.predict(dval)
    rmse = np.sqrt(mean_squared_error(y_val, y_pred))
    print(f"eta={eta} -> RMSE={rmse:.4f}")
    return rmse

In [34]:
run(0.1)

[0]	train-rmse:0.40958	val-rmse:0.41472
[1]	train-rmse:0.39334	val-rmse:0.39914
[2]	train-rmse:0.37962	val-rmse:0.38597
[3]	train-rmse:0.36806	val-rmse:0.37506
[4]	train-rmse:0.35834	val-rmse:0.36600
[5]	train-rmse:0.34980	val-rmse:0.35813
[6]	train-rmse:0.34271	val-rmse:0.35160
[7]	train-rmse:0.33678	val-rmse:0.34621
[8]	train-rmse:0.33174	val-rmse:0.34164
[9]	train-rmse:0.32702	val-rmse:0.33752
[10]	train-rmse:0.32304	val-rmse:0.33429
[11]	train-rmse:0.31971	val-rmse:0.33165
[12]	train-rmse:0.31667	val-rmse:0.32922
[13]	train-rmse:0.31397	val-rmse:0.32705
[14]	train-rmse:0.31161	val-rmse:0.32541
[15]	train-rmse:0.30980	val-rmse:0.32409
[16]	train-rmse:0.30806	val-rmse:0.32281
[17]	train-rmse:0.30635	val-rmse:0.32161
[18]	train-rmse:0.30490	val-rmse:0.32064
[19]	train-rmse:0.30342	val-rmse:0.31957
[20]	train-rmse:0.30225	val-rmse:0.31881
[21]	train-rmse:0.30108	val-rmse:0.31800
[22]	train-rmse:0.29986	val-rmse:0.31722
[23]	train-rmse:0.29889	val-rmse:0.31665
[24]	train-rmse:0.29800	val-rmse:0.31613
[25]	train-rmse:0.29690	val-rmse:0.31539
[26]	train-rmse:0.29598	val-rmse:0.31501
[27]	train-rmse:0.29526	val-rmse:0.31440
[28]	train-rmse:0.29445	val-rmse:0.31405
[29]	train-rmse:0.29378	val-rmse:0.31373
[30]	train-rmse:0.29300	val-rmse:0.31325
[31]	train-rmse:0.29241	val-rmse:0.31275
[32]	train-rmse:0.29184	val-rmse:0.31252
[33]	train-rmse:0.29134	val-rmse:0.31207
[34]	train-rmse:0.29080	val-rmse:0.31189
[35]	train-rmse:0.29030	val-rmse:0.31190
[36]	train-rmse:0.28992	val-rmse:0.31161
[37]	train-rmse:0.28953	val-rmse:0.31154
[38]	train-rmse:0.28889	val-rmse:0.31142
[39]	train-rmse:0.28856	val-rmse:0.31116
[40]	train-rmse:0.28811	val-rmse:0.31106
[41]	train-rmse:0.28754	val-rmse:0.31098
[42]	train-rmse:0.28714	val-rmse:0.31092
[43]	train-rmse:0.28678	val-rmse:0.31080
[44]	train-rmse:0.28631	val-rmse:0.31072
[45]	train-rmse:0.28590	val-rmse:0.31057
[46]	train-rmse:0.28552	val-rmse:0.31054
[47]	train-rmse:0.28506	val-rmse:0.31055
[48]	train-rmse:0.28462	val-rmse:0.31054
[49]	train-rmse:0.28428	val-rmse:0.31050
[50]	train-rmse:0.28412	val-rmse:0.31050
[51]	train-rmse:0.28380	val-rmse:0.31046
[52]	train-rmse:0.28358	val-rmse:0.31030
[53]	train-rmse:0.28333	val-rmse:0.31027
[54]	train-rmse:0.28313	val-rmse:0.31020
[55]	train-rmse:0.28296	val-rmse:0.31023
[56]	train-rmse:0.28276	val-rmse:0.31016
[57]	train-rmse:0.28237	val-rmse:0.31010
[58]	train-rmse:0.28218	val-rmse:0.31010
[59]	train-rmse:0.28198	val-rmse:0.31007
[60]	train-rmse:0.28178	val-rmse:0.31008
[61]	train-rmse:0.28158	val-rmse:0.31010
[62]	train-rmse:0.28112	val-rmse:0.30955
[63]	train-rmse:0.28087	val-rmse:0.30953
[64]	train-rmse:0.28063	val-rmse:0.30950
[65]	train-rmse:0.28043	val-rmse:0.30942
[66]	train-rmse:0.28034	val-rmse:0.30946
[67]	train-rmse:0.28013	val-rmse:0.30944
[68]	train-rmse:0.27969	val-rmse:0.30943
[69]	train-rmse:0.27947	val-rmse:0.30928
[70]	train-rmse:0.27894	val-rmse:0.30887
[71]	train-rmse:0.27861	val-rmse:0.30890
[72]	train-rmse:0.27834	val-rmse:0.30872
[73]	train-rmse:0.27823	val-rmse:0.30869
[74]	train-rmse:0.27797	val-rmse:0.30866
[75]	train-rmse:0.27779	val-rmse:0.30861
[76]	train-rmse:0.27769	val-rmse:0.30857
[77]	train-rmse:0.27759	val-rmse:0.30858
[78]	train-rmse:0.27718	val-rmse:0.30832
[79]	train-rmse:0.27706	val-rmse:0.30833
[80]	train-rmse:0.27689	val-rmse:0.30832
[81]	train-rmse:0.27662	val-rmse:0.30817
[82]	train-rmse:0.27648	val-rmse:0.30818
[83]	train-rmse:0.27609	val-rmse:0.30817
[84]	train-rmse:0.27603	val-rmse:0.30817
[85]	train-rmse:0.27581	val-rmse:0.30818
[86]	train-rmse:0.27558	val-rmse:0.30815
[87]	train-rmse:0.27530	val-rmse:0.30812
[88]	train-rmse:0.27521	val-rmse:0.30815
[89]	train-rmse:0.27515	val-rmse:0.30814
[90]	train-rmse:0.27507	val-rmse:0.30809
[91]	train-rmse:0.27495	val-rmse:0.30816
[92]	train-rmse:0.27472	val-rmse:0.30804
[93]	train-rmse:0.27465	val-rmse:0.30807
[94]	train-rmse:0.27460	val-rmse:0.30810
[95]	train-rmse:0.27452	val-rmse:0.30811
[96]	train-rmse:0.27426	val-rmse:0.30803
[97]	train-rmse:0.27404	val-rmse:0.30802
[98]	train-rmse:0.27396	val-rmse:0.30804
[99]	train-rmse:0.27379	val-rmse:0.30802
eta=0.1 -> RMSE=0.3080

np.float64(0.3080213404692026)